body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  height:100px;
}

.responsive {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.cart{
  padding-right:10px;
}

.test{
  font-family: "copperplate", fantasy;
}

.product{
  width:300px;
}

.productImg{
  width:  300px;
  height: 430px;
}