body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343434
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  height:100px;
}

.responsive {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.cart{
  padding-right:10px;
}

.test{
  font-family: "copperplate", fantasy;
}

.producto{
  width:200px;
}

.productImg{
  width:  200px;
  height: 300px;
  margin-left: 15%;
}

.footerlist{
  list-style-type: none;
}

.footer1{
  padding-left:2%;
}

.footer2{
  padding-right:2%;
}

.footerCompany{
  padding-left:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footerSocials{
  display: flex;
  flex-direction: row;
}

.item{
  background-color: #28282B
}

.checkout{
  padding-left: 32.5%;
}
